.pat{
    background-color: #3b1313;
}

.pet{

    background-color: chocolate;
}

.pit{

    color: white;
    
}

button[id="pot"]{

    background-color:  #3b1313;

}

#me{
    color: white;
    background-color: white;
}
